---
import { getCollection } from 'astro:content';
import { type Article, jsonToArticle } from '@models:Article';
import BlogTemplate from 'templates:BlogTemplate';
import ArticleSummary from 'molecules:ArticleSummary';
import { getLangFromUrl, useTranslations } from '@i18n:utils';
import type { GetStaticPaths } from 'astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
	tag: string;
	posts: Article[];
}

export const getStaticPaths = (async () => {
	const allPosts = await getCollection('blog', ({ data }) => {
		return !data.draft;
	});

	const processedPosts = allPosts.map((post) => {
		const slugParts = post.slug.split('/');
		const lang = slugParts[0] === 'es' ? 'es' : 'en';
		return {
			...post,
			lang,
		};
	});

	// Filter for Spanish posts only
	const spanishPosts = processedPosts.filter((post) => post.lang === 'es');

	// Get unique tags
	const tags = [...new Set(spanishPosts.flatMap((post) => post.data.tags || []))];

	return tags.map((tag) => {
		const filteredPosts = spanishPosts
			.filter((post) => post.data.tags?.includes(tag))
			.map((post) => jsonToArticle(post));

		return {
			params: { tag },
			props: { posts: filteredPosts, tag },
		};
	});
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
const tagPosts = posts;
---

<BlogTemplate title={`${t('blog')} | ${tag}`} description={`${t('blogDescription')} ${tag}`}>
	<div class="container mx-auto">
		{
			tagPosts.map((post) => (
				<article class="mx-2 mb-20 border-b border-gray-400 md:mx-24">
					<ArticleSummary article={post} />
				</article>
			))
		}
		{
			tagPosts.length === 0 && (
				<div class="container-inner mx-auto py-16 pl-10">
					<div class="text-center">
						<h1 class="text-3xl font-bold">{t('noArticlesFound')}</h1>
						<p class="text-gray-600">{t('tryAgain')}</p>
					</div>
				</div>
			)
		}
	</div>
</BlogTemplate>
