---
/**
 * LocaleSelectSingle component.
 * A simplified language switcher designed specifically for sites with exactly
 * two languages. It renders a single link to switch to the "other" language.
 * An assertion will fail during development if the number of locales is not two.
 * This component does not accept any props.
 */
import { getLocalePathsEnhanced, LOCALES } from "@/i18n";

console.assert(
	Object.keys(LOCALES).length === 2,
	"The number of locale settings is not 2. This UI only supports switching between 2 languages.",
);

const anotherLang =
	Astro.currentLocale === Object.keys(LOCALES)[0]
		? Object.keys(LOCALES)[1]
		: Object.keys(LOCALES)[0];

const paths = await getLocalePathsEnhanced(Astro.url);
const targetPath =
	paths.find((p) => p.lang === anotherLang)?.path || `/${anotherLang}`;
---

<a href={targetPath}>
  <span class="material-icons-sharp">translate</span>
  {LOCALES[anotherLang].label}
</a>

<style>
  a {
    display: inline-block;
    padding: 0.5em;
  background-color: rgba(0,122,204,0.06);
    border-radius: 6px;
    font-family: "Noto Sans";
    text-align: center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }

    span {
      margin-inline-end: 0.2em;
      opacity: 0.6;
    }
  }
</style>
