@import "./theme.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

.content-wrapper > main {
  background-color: var(--bg-background-primary);
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--slate);
  color: var(--lightest-slate);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #58625f;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #58625f;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #133040;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

* {
  scrollbar-color: #133040 #58625f;
  scrollbar-width: thin;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: 20px;
  line-height: 1.3;
}

@media (max-width: 480px) {
  body {
    font-size: 18px;
  }
}

body.hidden {
  overflow: hidden;
}

body.blur {
  overflow: hidden;
}

body.blur header {
  background-color: transparent;
}

body.blur #content > * {
  filter: blur(5px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

main.fillHeight {
  padding: 0 150px;
}

@media (max-width: 1080px) {
  main.fillHeight {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  main.fillHeight {
    padding: 0 50px;
  }
}

@media (max-width: 480px) {
  main.fillHeight {
    padding: 0 25px;
  }
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

@media (max-width: 768px) {
  section {
    padding: 80px 0;
  }
}

@media (max-width: 480px) {
  section {
    padding: 60px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.big-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
}

.medium-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 60px);
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
}

.numbered-heading:before {
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}

@media (max-width: 480px) {
  .numbered-heading:before {
    margin-bottom: -3px;
    margin-right: 5px;
  }
}

.numbered-heading:after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

@media (max-width: 1080px) {
  .numbered-heading:after {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .numbered-heading:after {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .numbered-heading:after {
    margin-left: 10px;
  }
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

img[alt=""],
img:not([alt]) {
  filter: blur(5px);
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  @apply font-bold;
}

a:hover,
a:focus {
  @apply text-green-500;
}

a.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  @apply text-green-500;
}

a.inline-link:hover,
a.inline-link:focus,
a.inline-link:active {
  @apply text-green-600;
  outline: 0;
}

a.inline-link:hover:after,
a.inline-link:focus:after,
a.inline-link:active:after {
  width: 100%;
}

a.inline-link:hover > *,
a.inline-link:focus > *,
a.inline-link:active > * {
  @apply text-green-600 !important;
  transition: var(--transition);
}

a.inline-link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  @apply bg-green-500;
  transition: var(--transition);
  opacity: 0.5;
}

main {
  counter-reset: section;
}

header,
footer,
main {
  transition: var(--transition);
}

header {
  padding: 0 50px;
  background-color: var(--navy);
  filter: none;
  pointer-events: auto !important;
  backdrop-filter: blur(10px);
  user-select: none;
}
@media (max-width: 768px) {
  header {
    padding: 0 25px;
  }
}
nav .active {
  font-weight: bold;
  @apply border-b border-black;
}

.navbar--show {
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.95);
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.navbar--hidden {
  transform: translate3d(0, -100%, 0);
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

.checkmark {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2229%22%20height%3D%2229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.427%2024.93A14.5%2014.5%200%201%201%2024.93%204.427c5.495%205.69%205.416%2014.733-.177%2020.326s-14.637%205.672-20.326.177z%22%20fill%3D%22%232E855A%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.234%2012.803l3.67%203.253L20.766%2010%2023%2012l-9.096%208L8%2014.789l2.234-2z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  @apply pl-10;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.order-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-list li {
  position: relative;
  counter-increment: item 1;
  font-size: 13px;
}

.order-list li a:before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  font-size: 12px;
  text-align: right;
  @apply text-green-500;
}

/*transactions*/
/* Fade up */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.button {
  transition: var(--transition);
  outline: 0;
  @apply cursor-pointer select-none rounded border border-green-500 bg-transparent p-2 text-sm text-green-500 hover:bg-green-900;
}

.resume-button {
  @apply cursor-pointer select-none rounded border border-green-500 bg-transparent p-2 text-sm capitalize text-green-500 hover:bg-green-900;
}

.small-button {
  @apply button p-1 font-mono text-sm;
}

.big-button {
  @apply cursor-pointer select-none rounded border-2 border-green-500 bg-transparent py-4 px-6 font-mono text-lg text-green-500 hover:bg-green-900;
}
