---
import { Project, ProjectJson } from '@models:Project'
import { Tech } from '@models:Tech'
import i18next, { t, changeLanguage } from 'i18next'
import BaseTemplate from 'templates:BaseTemplate'
import ProjectTechList from 'molecules:ProjectTechList'
import ProjectLinks from 'molecules:ProjectLinks'
import { urlize } from '@util:utilities'
const projectData = await Astro.glob<ProjectJson>('../../data/projects/**/*.json')
const techData = await Astro.glob<Tech>('../../data/technologies/**/*.json')
const tech: {
	[key: string]: Tech
} = {}
techData.forEach((t) => (tech[t.id] = t))
const jsonToProject = (json: ProjectJson): Project => {
	const project: Project = {
		id: json.id,
		title: json.title,
		lang: json.lang,
		date: json.date,
		cover: json.cover,
		repository: json.repository,
		url: json.url,
		company: json.company,
		tech: json.tech.map((t) => tech[urlize(t.toLowerCase())]),
		showInProjects: json.showInProjects,
		featured: json.featured,
		published: json.published,
		content: json.content
	}
	return project
}
const projects: Project[] = projectData
	.filter((project) => project.published && project.lang === i18next.language)
	.sort((a, b) => {
		if (a.date > b.date) return -1
		if (a.date < b.date) return 1
		return 0
	})
	.map((json) => jsonToProject(json))
---

<BaseTemplate>
	<div class='container-inner 2xl:container mx-auto py-16'>
		<div>
			<h1 class='big-heading'>{t('all-projects')}</h1>
			<p class='text-xl md:text-2xl text-green-500 font-sans my-5'>
				{t('big-list')}
			</p>
		</div>

		<div class='overflow-x-auto relative shadow-md sm:rounded-lg'>
			<table class='w-full text-sm text-left border-2 border-light-navy'>
				<thead class='text-xs md:text-xl uppercase bg-light-navy'>
					<tr>
						<th scope='col' class='py-3 px-6'>
							{t('year')}
						</th>
						<th scope='col' class='py-3 px-6'>
							{t('title')}
						</th>
						<th scope='col' class='py-3 px-6 hidden md:table-cell'>
							{t('made-at')}
						</th>
						<th scope='col' class='py-3 px-6 hidden md:table-cell'>
							{t('built-at')}
						</th>
						<th scope='col' class='py-3 px-6 flex justify-center'>
							{t('link')}
						</th>
					</tr>
				</thead>
				<tbody>
					{
						projects.map((project) => (
							<tr class='text-xs md:text-xl bg-navy border-b  dark:border-light-navy hover:bg-gray-50 dark:hover:bg-lightest-navy'>
								<th scope='row' class='py-4 px-6 font-medium  whitespace-nowrap'>
									{typeof project.date === 'string'
										? new Date(project.date).getFullYear()
										: project.date.getFullYear()}
								</th>
								<td class='py-4 px-6'>{project.title}</td>
								<td class='py-4 px-6 hidden md:table-cell'>
									{project.company ? project.company : t('personal-projects')}
								</td>
								<td class='py-4 px-6 hidden md:table-cell'>
									<ProjectTechList project={project} position='start' showIcon={true} />
								</td>
								<td class='py-4 px-6'>
									<ProjectLinks project={project} position='center' />
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</div>
</BaseTemplate>
