---
import { jsonToProject, type Project } from '@models:Project';
import BaseTemplate from 'templates:BaseTemplate';
import ProjectTechList from 'molecules:ProjectTechList';
import ProjectLinks from 'molecules:ProjectLinks';
import { getLangFromUrl, useTranslations } from '@i18n:utils';
import { getCollection } from 'astro:content';
const projectData = await getCollection('projects');

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects: Project[] = (
	await Promise.all(projectData.map((project) => jsonToProject(project)))
)
	.filter((project) => project.published && project.lang === lang)
	.sort((a, b) => new Date(b.date ?? 0).getTime() - new Date(a.date ?? 0).getTime());
---

<BaseTemplate
	title={t('projects.title')}
	description={t('projects.description')}
	image="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
	ogImageAlt={t('projects.ogImageAlt')}
>
	<div class="container-inner mx-auto py-16 2xl:container">
		<div>
			<h1 class="big-heading">{t('allProjects')}</h1>
			<p class="my-5 font-sans text-xl text-green-500 md:text-2xl">
				{t('bigList')}
			</p>
		</div>

		<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
			<table class="w-full border-2 border-light-navy text-left text-sm">
				<thead class="bg-light-navy text-xs uppercase md:text-xl">
					<tr>
						<th scope="col" class="px-6 py-3">
							{t('year')}
						</th>
						<th scope="col" class="px-6 py-3">
							{t('title')}
						</th>
						<th scope="col" class="hidden px-6 py-3 md:table-cell">
							{t('madeAt')}
						</th>
						<th scope="col" class="hidden px-6 py-3 md:table-cell">
							{t('builtAt')}
						</th>
						<th scope="col" class="flex justify-center px-6 py-3">
							{t('link')}
						</th>
					</tr>
				</thead>
				<tbody>
					{
						projects.map((project) => (
							<tr class="border-b border-lightest-navy bg-navy text-xs hover:bg-lightest-navy dark:border-light-navy dark:hover:bg-lightest-navy md:text-xl">
								<th scope="row" class="whitespace-nowrap px-6 py-4  font-medium">
									{typeof project.date === 'string'
										? new Date(project.date).getFullYear()
										: project?.date?.getFullYear()}
								</th>
								<td class="px-6 py-4">{project.title}</td>
								<td class="hidden px-6 py-4 md:table-cell">
									{project.company ? project.company : t('personalProjects')}
								</td>
								<td class="hidden px-6 py-4 md:table-cell">
									<ProjectTechList project={project} position="start" showIcon={true} />
								</td>
								<td class="px-6 py-4">
									<ProjectLinks project={project} position="center" />
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</div>
</BaseTemplate>
