---
import i18next from "i18next";
import HeadSEO from "organisms:HeadSEO";
import { HeadHrefLangs } from "astro-i18next/components";
import AppFooter from "molecules:AppFooter";
import AdsBanner from "atoms:AdsBanner";
import Navbar from "@components:molecules/Navbar.vue";

import "styles/global.css";
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <HeadSEO />
    <HeadHrefLangs />
       <!-- Fonts -->
       <link rel="preconnect" href="https://fonts.gstatic.com" />
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap">
  </head>

  <body class="content-wrapper bg-background-primary font-sans text-light-slate leading-normal flex flex-col min-h-screen">
    <AdsBanner />
    <div class="relative flex flex-col min-h-[100vh]">
      <Navbar client:load/>
      <main class="flex flex-grow justify-center items-center mt-8 md:mt-20 lg:mt-15">
        <slot></slot>
      </main>
      <AppFooter />
    </div>

  </body>
</html>
