---
import i18next, { t } from "i18next";
import Navigation from "molecules:Navigation";
import HeadSEO from "organisms:HeadSEO";
import { LanguageSelector, HeadHrefLangs } from "astro-i18next/components";
import Button from "atoms:Button";
import AppFooter from "molecules:AppFooter";
import Navbar from "@components:molecules/Navbar.vue";

import "styles/global.css";
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <HeadSEO />
    <HeadHrefLangs />
       <!-- Fonts -->
       <link rel="preconnect" href="https://fonts.gstatic.com" />
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap">
  </head>

  <body class="content-wrapper bg-background-primary font-sans text-light-slate leading-normal flex flex-col min-h-screen">
    <a href="https://www.yunielacosta.com" 
    rel="noopener nofollow noreferrer" target="_blank" tabindex="0" 
    class="group flex items-center transition-height delay-200 h-10 bg-green-400 hover:bg-green-500">
    <p class="text-navy group-hover:text-black sm:top-1.5 w-full pl-4 sm:text-center text-sm">
      <b>This page is under construction</b> If you want to check more about me please visit my blog on <b>www.yunielacosta.com</b>
    </p> 
    </a>
    <div class="relative flex flex-col min-h-[100vh]">
      <Navbar client:load/>
      <main class="flex flex-grow justify-center items-center mt-8 md:mt-20 lg:mt-15">
        <slot></slot>
      </main>
      <AppFooter />
    </div>

  </body>
</html>
