---
import { getLocalePathsEnhanced, type Lang } from "@/i18n";

export async function getStaticPaths() {
	// Provide a dummy URL for build-time generation
	return await getLocalePathsEnhanced(new URL('https://localhost'));
}

const locale = Astro.currentLocale as Lang;
---
<!doctype html>
<html lang={locale}>
  <head>
    <meta http-equiv="refresh" content={`0;url=/${locale}/blog`} />
    <title>Redirecting to blog...</title>
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center; min-height: 50vh;">
      <p>Redirecting to <a href={`/${locale}/blog`} style="color: blue; text-decoration: underline;">blog</a>...</p>
    </div>
  </body>
</html>
