---
import Icon from 'astro-icon'
import { Image } from '@astrojs/image/components'
import { t, changeLanguage } from 'i18next'
import { localizePath } from 'astro-i18next'
import BaseTemplate from 'templates:BaseTemplate'

changeLanguage('en')
---

<BaseTemplate title={t('error404')}>
	<div class='container-inner mx-auto py-16'>
		<h1 class='mb-16 text-4xl font-bold'>{t('error404')}</h1>
		<Image class='w-1/2' src='/oops.webp' alt={t('error404')} height={300} width={300} />
		<p set:html={t('message404')} />
		<a
			href={localizePath('/')}
			class='small-button mt-24 flex w-24 items-center justify-center uppercase'
		>
			<Icon name='mdi:arrow-left' class='mr-2 h-6' />
			{t('home')}
		</a>
	</div>
</BaseTemplate>
