<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>Content Manager</title>
		<style>
			/* Fix cursor */
			.app-shell p,
			.app-shell h1,
			.app-shell h2,
			.app-shell h3,
			.app-shell h4,
			.app-shell h5,
			.app-shell h5 {
				cursor: auto !important;
				user-select: text !important;
			}
			/* Improve scrollbar layout */
			::-webkit-scrollbar-track {
				border: none;
				background-color: transparent;
			}
			::-webkit-scrollbar {
				width: 6px;
				height: 6px;
				background-color: transparent;
			}
			::-webkit-scrollbar-thumb {
				background-color: #2c3337;
				border-radius: 2px;
			}
			::-webkit-scrollbar-thumb:hover {
				background-color: #576b77;
			}
			/* Scrollbar layout Dark theme */
			[data-theme='dark'] ::-webkit-scrollbar-thumb {
				background-color: #b6b6b6;
			}
			[data-theme='dark'] ::-webkit-scrollbar-thumb:hover {
				background-color: white;
			}
			/* Improve sidebar width */
			.secondary-sidebar {
				min-width: 340px;
			}
		</style>
	</head>
	<body>
		<!-- <script is:inline src="https://unpkg.com/decap-cms@^3.4.0/dist/decap-cms.js"></script> -->
		<script is:inline src="https://unpkg.com/@sveltia/cms@0.54.0/dist/sveltia-cms.js"></script>
		<!-- netlify identity -->
		<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

		<!-- Customize the netlify identity widget to refresh on logout preventing users from using the cms when not logged in and then seeing an error -->
		<script is:inline>
			netlifyIdentity.on('logout', () => location.reload());
		</script>
	</body>
</html>
