---
import { changeLanguage } from "i18next";
import BaseTemplate from "templates:BaseTemplate";
import Hero from "organisms:Hero";
import About from "organisms:About";
import Jobs from "organisms:jobs/index";
import Contact from "organisms:Contact";

changeLanguage("en");
---

<BaseTemplate>
  <div class="container mx-auto px-24">
    <Hero />
    <About />
    <Jobs />
    <Contact />
  </div>
</BaseTemplate>