---
/**
 * This page is displayed when a user navigates to a URL that does not exist.
 * It shows a 404 "Not Found" error message and provides a link back to the homepage.
 */
import { Image } from "astro:assets";
import Container from "@/components/atoms/Container.astro";
import { useTranslatedPath, useTranslations } from "@/i18n";
import { DEFAULT_LOCALE, type Lang, LOCALES } from "@/i18n/types";
import Layout from "@/layouts/Layout.astro";
import oops from "../../../public/oops.webp";

const currentLocale = (Astro.params.lang as Lang) || DEFAULT_LOCALE;
const t = useTranslations(currentLocale);
const translatePath = useTranslatedPath(currentLocale);
export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}));
---

<Layout title={t("404.title")}>
  <main>
    <Container
      class={"flex h-screen flex-col items-center justify-center gap-8"}
    >
      <div class="max-w-md">
        <Image src={oops} alt="404" />
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <h1 class="text-4xl font-bold">404</h1>
        <p class="text-lg">{t("404.message")}</p>
      </div>
      <a href={translatePath("/")} class="text-lg text-primary-500 hover:underline">
        {t("404.link")}
      </a>
    </Container>
  </main>
</Layout>
