---
import { DRAWER_MENU_BUTTON_ID } from '@store:constants';

interface Props{
	drawerTarget: string;
}
const { drawerTarget } = Astro.props
---

<svg
	id={DRAWER_MENU_BUTTON_ID}
	type='button'
	data-drawer-target={drawerTarget}
	data-drawer-placement='right'
	class='ham hamRotate ham7'
	viewBox='0 0 100 100'
	width='60'
>
	<path
		class='line top'
		d='m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013'></path>
	<path class='line middle' d='m 70,50 h -40'></path>
	<path
		class='line bottom'
		d='m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40'
	></path>
	<span class='sr-only'>Open or Close menu</span>
</svg>

<style lang='scss'>
	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.hamRotate.active-menu {
		transform: rotate(45deg);
	}

	.hamRotate180.active-menu {
		transform: rotate(180deg);
	}

	.line {
		fill: none;
		transition:
			stroke-dasharray 400ms,
			stroke-dashoffset 400ms;
		stroke: #64ffda;
		stroke-width: 5.5;
		stroke-linecap: round;
	}

	.ham7 {
		.top {
			stroke-dasharray: 40 82;
		}

		.middle {
			stroke-dasharray: 30 111;
		}

		.bottom {
			stroke-dasharray: 20 161;
		}
	}

	.ham7.active-menu {
		.top {
			stroke-dasharray: 40 82;
			stroke-dashoffset: -62px;
		}

		.middle {
			stroke-dasharray: 40 60;
			stroke-dashoffset: 23px;
		}

		.bottom {
			stroke-dasharray: 40 82;
			stroke-dashoffset: -82px;
		}
	}
</style>
