---
import type { HTMLAttributes } from "astro/types";
import type Category from "@/core/category/category.model";
import { type Lang, useTranslations } from "@/i18n";
import { cleanEntityId } from "@/lib/collection.entity";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"a"> {
	category: Category;
	currentLocale: Lang;
}
const { category, currentLocale, ...attrs } = Astro.props;

const t = useTranslations(currentLocale);
---

<a
	class={cn(
		"w-fit inline text-[9px] tracking-widest uppercase transition-colors hover:opacity-80",
		attrs.class
	)}
	href={`/${currentLocale}/blog/category/${cleanEntityId(category.slug).toLowerCase()}/`}
	aria-label={t("post.aria.category", { category: category.title })}
	{...attrs}
>
	{category.title}
</a>
