---
export interface Props {
	show: boolean
	orientation: string
}

const { orientation, show } = Astro.props
---

{
	show && (
		<div
			class={`fixed bottom-0 z-10 hidden w-10 text-gray-500 lg:block ${
				orientation === 'left'
					? 'right-auto md:left-5 lg:left-10'
					: 'left-auto md:right-5 lg:right-10 '
			}`}
		>
			<slot />
		</div>
	)
}
