---
import { Icon } from 'astro-icon'
import { socialMedia } from 'store/constants'

const portfolioTechIcon = [
	'mdi:vuejs',
	'simple-icons:astro',
	'simple-icons:tailwindcss',
	'simple-icons:netlify'
]
---

<footer class='container mx-auto flex flex-col lg:flex-row items-center justify-center m-5'>
	<div class='flex flex-col items-center'>
		<ul class='flex flex-wrap relative list-none p-0 md:hidden'>
			{
				socialMedia.map(({ name, icon, url }) => (
					<li class='my-2 text-light-slate font-mono text-3xl whitespace-nowrap mx-1'>
						<a href={url} target='_blank' rel='noopener noreferrer'>
							<Icon name={icon} class='h-8' />
						</a>
					</li>
				))
			}
		</ul>
		<p class='text-sm text-lightest-slate font-mono' v-text='$t('built-by')'>
			Built by Yuniel Acosta
		</p>
		<p class='text-xs text-light-slate font-mono my-2' v-text='$t('design-by')'>
			Design based on Brittany Chiang portfolio
		</p>
		<ul class='flex flex-wrap relative list-none p-0'>
			{
				portfolioTechIcon.map((icon) => (
					<li class='my-2 text-light-slate font-mono text-xs whitespace-nowrap mx-1'>
						<Icon name={icon} class='h-4' />
					</li>
				))
			}
		</ul>
	</div>
</footer>
