---
import { Icon } from 'astro-icon'
import { t } from 'i18next'
import { socialMedia } from 'store/constants'

const portfolioTechIcon = [
	'mdi:vuejs',
	'simple-icons:astro',
	'simple-icons:tailwindcss',
	'simple-icons:netlify'
]
---

<footer class='container m-5 mx-auto flex flex-col items-center justify-center lg:flex-row'>
	<div class='flex flex-col items-center'>
		<ul class='relative flex list-none flex-wrap p-0 md:hidden'>
			{
				socialMedia.map(({ name, icon, url }) => (
					<li class='mx-1 my-2 whitespace-nowrap font-mono text-3xl text-light-slate'>
						<a href={url} target='_blank' rel='noopener noreferrer' aria-label={name}>
							<Icon name={icon} class='h-8' />
						</a>
					</li>
				))
			}
		</ul>
		<p class='font-mono text-sm text-lightest-slate'>
			{t('built-by')}
			<a
				href='https://www.yunielacosta.com'
				target='_blank'
				rel='noopener noreferrer'
				class='text-light-slate'>Yuniel Acosta</a
			>
		</p>
		<p class='my-2 font-mono text-xs text-light-slate'>
			{t('design-by')}
		</p>
		<ul class='relative flex list-none flex-wrap p-0'>
			{
				portfolioTechIcon.map((icon) => (
					<li class='mx-1 my-2 whitespace-nowrap font-mono text-xs text-light-slate'>
						<Icon name={icon} class='h-4' />
					</li>
				))
			}
		</ul>
	</div>
</footer>
