---
import { getLangFromUrl, useTranslations } from '@i18n:utils';
type Props = {
  contactForm: string;
};
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { contactForm } = Astro.props;
---

<form
	class="card p-5 space-y-4 bg-neutral text-neutral-content m-auto w-full"
	id="contact-form"
	method="post"
	action={contactForm}
>
	<div>
		<label for="form-name" class="text-sm font-bold uppercase text-lightest-slate">
			{t('yourFullName')}
		</label>
		<input
			id="form-name"
			class="focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
			name="name"
			required
			type="text"
			placeholder="John Doe"
		/>
	</div>
	<div class="mt-8">
		<label for="form-email" class="text-sm font-bold uppercase text-lightest-slate">
			{t('yourEmail')}
		</label>
		<input
			id="form-email"
			class="focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
			placeholder="johndoe@gmail.com"
			name="email"
			required
			type="email"
		/>
	</div>
	<div class="mt-8">
		<label for="form-subject" class="text-sm font-bold uppercase text-lightest-slate">
			{t('subject')}
		</label>
		<input
			id="form-subject"
			class="focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
			placeholder={t('subjectPlaceholder')}
			name="subject"
			spellcheck="true"
			required
			type="text"
		/>
	</div>
	<div class="mt-8">
		<label for="form-message" class="text-sm font-bold uppercase text-lightest-slate">
			{t('message')}
		</label>
		<textarea
			id="form-message"
			placeholder={t('messagePlaceholder')}
			name="message"
			required
			spellcheck="true"
			class="focus:shadow-outline mt-2 h-32 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
		></textarea>
	</div>
	<div class="mt-8">
	 <button
			type="submit"
			class="big-button w-full relative disabled:opacity-50 disabled:cursor-not-allowed"
			aria-label={t('sendMessage')}
		>
			<span class="loading-text">{t('sendMessage')}</span>
			<span class="loading-spinner hidden">
				<span
					class="animate-spin inline-block w-4 h-4 border-2 border-t-transparent border-white rounded-full"
				></span>
				{t('sending')}...
			</span>
		</button>
	</div>
</form>
