---
import { localizePath } from 'astro-i18next'
import i18next, { t } from 'i18next'
import LanguageSelector from 'atoms:LanguageSelector'
import { navMenus } from '@models:Menu'
import Icon from 'astro-icon'
import { Article, jsonToArticle } from '@models:Article'
import { MarkdownInstance } from 'astro'
import Search from '@components:atoms/Search.vue';
export interface Props {
	drawer: boolean
}

const { drawer } = Astro.props

const { pathname } = Astro.url
const isBlogRoot = pathname.endsWith('/blog')

const articlesFiles: { [key: string]: Promise<MarkdownInstance<Record<string, any>>[]> } = {
	en: Astro.glob('../../pages/blog/**/*.md'),
	es: Astro.glob('../../pages/es/blog/**/*.md')
}
const postsData = i18next.language in articlesFiles ? await articlesFiles[i18next.language] : []

const allPosts: Article[] = postsData
	.filter((post) => !post.frontmatter.draft && post.frontmatter.lang === i18next.language)
	.map((post) => jsonToArticle(post))
	.sort((a, b) => {
		let aDate = new Date(a.date)
		let bDate = new Date(b.date)
		return bDate.getTime() - aDate.getTime()
	})
---

<ul class='menu-list' data-cypress='menu'>
	<li>
     {isBlogRoot && <Search client:only />}
    </li>
	<li>
		<ol
			class={`order-list items-center space-y-6 lg:space-y-0 lg:space-x-2 lg:flex ${
				drawer ? 'flex-col' : 'hidden'
			}`}
		>
			{
				navMenus.map((menu) => (
					<li>
						<a
							href={localizePath(menu.link)}
							id={menu.id}
							data-drawer-dismiss='menu-drawer'
							aria-controls='menu-drawer'
						>
							{t('menus.' + menu.title)}
						</a>
					</li>
				))
			}
		</ol>
	</li>
	<li class="flex justify-start md:justify-between items-center">
		<LanguageSelector
			showFlag={true}
			class='cursor-pointer select-none rounded border-b border-transparent bg-transparent text-sm text-green-500 hover:border-green-500 hover:bg-green-900'
		/>
		<a
		class='rounded p-2 bg-transparent text-sm text-green-500 hover:border-green-500 hover:bg-green-900'
		aria-label='RSS Feed'
		target='_blank'
		href='/rss.xml'
	>
		<Icon name='tabler:rss' class='w-5 h-5' />
	</a>
	</li>
	<li>
		<a href='/files/yuniel_acosta_cv.pdf' target='_blank' class='resume-button'>
			{t('resume')}
		</a>
	</li>
</ul>

<style lang='scss'>
	.menu-list {
		@apply mt-8 block w-full flex-grow origin-top-right items-center
      space-y-6 overflow-y-auto font-bold uppercase tracking-wide lg:mt-0 lg:flex
      lg:w-auto lg:flex-initial lg:space-x-8 lg:space-y-0;
	}
</style>
