---
import { t } from 'i18next'
import LanguageSelector from 'atoms:LanguageSelector'
import { Menu, navMenus } from '@models:Menu'
import Icon from 'astro-icon'
import Search from 'molecules:Search'
import { localizeUrl } from '@utils:utilities'
export interface Props {
	drawer: boolean
}

const { drawer } = Astro.props

const { pathname } = Astro.url
const isBlogRoot = pathname.endsWith('/blog') || pathname.endsWith('/blog/')
---

<ul class='menu-list'>
	<li>
		<ol
			class={`order-list items-center space-y-6 lg:space-y-0 lg:space-x-2 lg:flex ${
				drawer ? 'flex-col' : 'hidden'
			}`}
		>
			{
				navMenus.map((menu: Menu) => (
					<li>
						<a
							href={localizeUrl(menu.link)}
							id={drawer ? `drawer-${menu.id}` : `nav-${menu.id}`}
							data-drawer-dismiss='menu-drawer'
							tabindex={drawer ? -1 : 0}
						>
							{t('menus.' + menu.title)}
						</a>
					</li>
				))
			}
		</ol>
	</li>
	<li class='flex items-center justify-start md:justify-between'>
		<LanguageSelector
			showFlag={true}
			class='cursor-pointer select-none rounded border-b border-transparent bg-transparent text-sm text-green-500 hover:border-green-500 hover:bg-green-900'
			tabindex={drawer ? -1 : 0}
		/>
		<a
			class='rounded bg-transparent p-2 text-sm text-green-500 hover:border-green-500 hover:bg-green-900'
			aria-label='RSS Feed'
			target='_blank'
			href='/rss.xml'
			tabindex={drawer ? -1 : 0}
		>
			<Icon name='mdi:rss' class='h-5 w-5' />
		</a>
		{isBlogRoot && <Search />}
	</li>
	<li>
		<a
			id={drawer ? 'drawer-resume' : 'nav-resume'}
			href='/files/yuniel_acosta_cv.pdf'
			target='_blank'
			class='resume-button'
			tabindex={drawer ? -1 : 0}
		>
			{t('resume')}
		</a>
	</li>
</ul>

<style lang='scss'>
	.menu-list {
		@apply mt-8 block w-full flex-grow origin-top-right items-center
      space-y-6 overflow-y-auto font-bold uppercase tracking-wide lg:mt-0 lg:flex
      lg:w-auto lg:flex-initial lg:space-x-8 lg:space-y-0;
	}
</style>
