---
import { t } from 'i18next'

const { page } = Astro.props
---

<section class='flex items-center justify-between text-xl mx-1 px-1'>
	<a
		href={page.url.prev}
		class='mr-8'
		data-test='paginator-prev'
		class={!page.url.prev ? 'cursor-not-allowed select-none disabled:opacity-75' : ''}
	>
		<span class='squiggle'>&larr;</span> Prev
	</a>
	<div class='text-base'>
		{page.currentPage}
		{t('of')}
		{page.lastPage}
	</div>
	<a
		href={page.url.next}
		data-test='paginator-next'
		class={!page.url.next ? 'cursor-not-allowed select-none disabled:opacity-75' : ''}
	>
		Next<span class='squiggle'>&rarr;</span>
	</a>
</section>
