---
const { page } = Astro.props
console.log(page)

/*
start: 0,
  end: 4,
  size: 5,
  total: 7,
  currentPage: 1,
  lastPage: 2,
*/
---

<section class="flex items-center justify-between text-xl">
  {page.url.prev &&
  <a
    href={page.url.prev}
    class="mr-8"
    data-test="paginator-prev">
    <span class="squiggle">&larr;</span> Prev
  </a>
  }
  <div class="text-base">
    {page.currentPage} of {page.lastPage}
  </div>
  {page.url.next &&
  <a
    href={page.url.next}
    data-test="paginator-next">
    Next<span class="squiggle">&rarr;</span>
  </a>
  }
</section>
