---
import { t } from 'i18next'
import type { Project } from '@models:Project'
import { localizeUrl } from '@utils:utilities'
import ProjectLinks from 'molecules:ProjectLinks'
import ProjectTechList from 'molecules:ProjectTechList'
import { Icon } from 'astro-icon'
import { markdownfy } from '@utils:utilities'

const GRID_LIMIT = 6
export interface Props {
	projects: Project[]
}
const { projects } = Astro.props

let showMore: boolean = false

const projectsToShow = () => {
	const firstProjects: Project[] = projects ? projects.slice(0, GRID_LIMIT) : []
	return showMore ? projects : firstProjects
}
---

<div class='flex flex-col items-center'>
	<div class='mb-20 mt-10 text-center'>
		<h2 class='section-title'>{t('project-subtitle')}</h2>
		<a href={localizeUrl('/projects/')} class='inline-link'>{t('project-view')}</a>
	</div>
	<div class='grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3'>
		{
			projectsToShow().map((project) => (
				<div class='style-project-card'>
					<div class='project-top'>
						<Icon name='ic:baseline-folder' class='h-10' />
						<ProjectLinks project={project} position='center' />
					</div>
					<div class='my-2.5 text-center text-3xl font-bold text-lightest-slate'>
						{project?.title}
					</div>
					<div class='project-description'>
						<p set:html={markdownfy(project.content ?? '')} />
					</div>
					<footer class='absolute bottom-1'>
						<ProjectTechList project={project} position='start' showIcon={false} />
					</footer>
				</div>
			))
		}
	</div>
	{
		projects.length > 6 && (
			<a class='big-button m-5' href={localizeUrl('/projects/')}>
				{showMore ? t('show-less') : t('show-more')}
			</a>
		)
	}
</div>

<style>
	.style-project-card {
		@apply h-108 w-full max-w-sm transform rounded-lg border border-lightest-navy bg-light-navy px-6 py-2 shadow-md hover:-translate-y-2;
	}

	.section-title {
		@apply text-center text-3xl text-lightest-slate;
	}

	.project-top {
		@apply mt-2 flex justify-between;
	}

	.project-top svg {
		color: var(--green);
		width: 40px;
		height: 40px;
	}

	.project-description {
		@apply text-left text-lg;
	}
</style>
