---
import Icon from 'astro-icon'
---
<script>
	import { registerSW } from 'virtual:pwa-register'

	window.addEventListener('load', () => {
		const pwaToast = document.querySelector<HTMLDivElement>('#pwa-toast')!
		const pwaToastMessage = pwaToast.querySelector<HTMLDivElement>('.message #toast-message')!
		const pwaCloseBtn = pwaToast.querySelector<HTMLButtonElement>('#pwa-close')!
		const pwaRefreshBtn = pwaToast.querySelector<HTMLButtonElement>('#pwa-refresh')!

		let refreshSW: ((reloadPage?: boolean) => Promise<void>) | undefined

		const refreshCallback = () => refreshSW?.(true)

		const hidePwaToast = (raf = false) => {
			if (raf) {
				requestAnimationFrame(() => hidePwaToast(false))
				return
			}
			if (pwaToast.classList.contains('refresh')) {
				pwaRefreshBtn.removeEventListener('click', refreshCallback)
			}

			pwaToast.classList.remove('show', 'refresh')
		}
		const showPwaToast = (offline: boolean) => {
			if (!offline) {
				pwaRefreshBtn.addEventListener('click', refreshCallback)
			}
			requestAnimationFrame(() => {
				hidePwaToast(false)
				if (!offline) {
					pwaToast.classList.add('refresh')
				}
				pwaToast.classList.add('show')
			})
		}

		pwaCloseBtn.addEventListener('click', () => hidePwaToast(true))

		refreshSW = registerSW({
			immediate: true,
			onOfflineReady() {
				pwaToastMessage.innerHTML = 'App ready to work offline'
				showPwaToast(true)
			},
			onNeedRefresh() {
				pwaToastMessage.innerHTML = 'New content available, click on reload button to update'
				showPwaToast(false)
			},
			onRegisteredSW(swScriptUrl) {
				// eslint-disable-next-line no-console
				console.log('SW registered: ', swScriptUrl)
			}
		})
	})
</script>
<div id='pwa-toast' role='alert' aria-labelledby='toast-message'>
	<Icon name='material-symbols:info-rounded' class='h-5 w-5' />
	<div class='message'>
		<span id='toast-message'></span>
	</div>
	<button id='pwa-refresh'> Reload</button>
	<button id='pwa-close'> Close</button>
</div>

<style>
	#pwa-toast {
		@apply hidden fixed right-0 bottom-0 m-4 p-3 border border-lightest-navy rounded-md shadow-md z-10 text-left;
	}

	#pwa-toast .message {
		@apply mb-2;
	}

	#pwa-toast button {
		@apply border border-lightest-navy rounded-md mr-2 px-3 py-1 outline-none;
	}

	#pwa-toast.show {
		@apply visible;
	}

	button#pwa-refresh {
		@apply hidden;
	}

	#pwa-toast.show.refresh button#pwa-refresh {
		@apply inline-block;
	}
</style>
