---
import Icon from 'astro-icon';
import WidgetCard from 'molecules:WidgetCard'
export interface Props {
	categories: {[key: string]:number};
}
const { categories } = Astro.props;
const allCategories = Object.keys(categories);
---
<WidgetCard v-if="totalCount > 0" title="Categories">
    <ul class="relative my-4 flex list-none flex-col p-0">
      {
      allCategories.map((category) => (
      <li class="my-2 flex flex-row whitespace-nowrap font-mono text-base text-light-slate"
      >
        <a href="/" class="inline-link">
          <div class="flex items-center justify-center">
            <Icon name="zondicons:cheveron-right" class="h-6" />
            <span>
              { category }
            </span>
          </div>
        </a>
        <p>({categories[category] })</p>
      </li>
      ))
      }
    </ul>
  </WidgetCard>
