---
import Icon from 'astro-icon'
import WidgetCard from 'molecules:WidgetCard'
import { t, setDefaultNamespace } from 'i18next'
import { localizeUrl } from '@utils:utilities'

export interface Props {
	categories: { [key: string]: number }
}
const { categories } = Astro.props
const allCategories = Object.keys(categories)
setDefaultNamespace('blog')
---

<WidgetCard title={t('categories')}>
	<ul class='relative my-4 flex list-none flex-col p-0'>
		{
			allCategories.map((category) => (
				<li class='my-2 flex flex-row whitespace-nowrap font-mono text-base text-light-slate'>
					<a href={localizeUrl(`/blog/category/${category}`)} class='inline-link'>
						<div class='flex items-center justify-center'>
							<Icon name='zondicons:cheveron-right' class='h-6' />
							<span>{category}</span>
						</div>
					</a>
					<p>({categories[category]})</p>
				</li>
			))
		}
	</ul>
</WidgetCard>
