---
interface Props {
	title: string
}

const { title } = Astro.props
---

<div class='mb-5 p-4 md:p-0'>
	<div class='bg-light-navy'>
		<h3
			class='m-1 p-1 text-center font-mono text-3xl font-bold uppercase text-lightest-slate md:text-left'
		>
			{title}
		</h3>
	</div>
	<slot />
</div>
