---
import { Image } from 'astro:assets';
import contactImage from '../../assets/images/contact.png';
import { getLangFromUrl, useTranslations } from '@i18n:utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="contact" class="mx-4 md:mx-auto">
	<div
		class="mx-auto grid grid-cols-1 gap-8 rounded-lg bg-light-navy px-4 py-16 text-light-slate shadow-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32"
	>
		<div class="flex flex-col justify-between">
			<div>
				<h2 class="numbered-heading">{t('contactMe')}</h2>
				<h3
					class="text-center text-4xl font-bold leading-tight text-lightest-slate md:text-left lg:text-5xl"
				>
					{t('letsTalk')}
				</h3>
				<div class="mt-8 text-center text-light-slate md:text-left text-balance">
					{t('contactDescription')}
				</div>
			</div>
			<div class="mt-8 text-center">
				<Image src={contactImage} alt="Contact me" title="Contact me" />
			</div>
		</div>
		<form id="contact-form" class="mx-auto" method="POST" action={import.meta.env.FORMSPREE}>
			<div>
				<label for="form-name" class="text-sm font-bold uppercase text-lightest-slate">
					{t('yourFullName')}
				</label>
				<input
					id="form-name"
					class="focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
					name="name"
					required
					type="text"
					placeholder="John Doe"
				/>
			</div>
			<div class="mt-8">
				<label for="form-email" class="text-sm font-bold uppercase text-lightest-slate">
					{t('yourEmail')}
				</label>
				<input
					id="form-email"
					class="focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
					placeholder="jhondoe@gmail.com"
					name="email"
					required
					type="email"
				/>
			</div>
			<div class="mt-8">
				<label for="form-subject" class="text-sm font-bold uppercase text-lightest-slate">
					{t('subject')}
				</label>
				<input
					id="form-subject"
					class="focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
					placeholder={t('subjectPlaceholder')}
					name="subject"
					spellcheck="true"
					required
					type="text"
				/>
			</div>
			<div class="mt-8">
				<label for="form-message" class="text-sm font-bold uppercase text-lightest-slate">
					{t('message')}
				</label>
				<textarea
					id="form-message"
					placeholder={t('messagePlaceholder')}
					name="message"
					required
					spellcheck="true"
					class="focus:shadow-outline mt-2 h-32 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none"
				></textarea>
			</div>
			<div class="mt-8">
				<button class="big-button w-full" type="submit" value="Send Message">
					{t('sendMessage')}
				</button>
			</div>
		</form>
	</div>
</section>
