---
import { t } from 'i18next'
import { Image } from '@astrojs/image/components'
import contactSvg from '../../assets/images/contact.svg'
---

<section id='contact' class='mx-4 md:mx-auto'>
	<div
		class='mx-auto grid grid-cols-1 gap-8 rounded-lg bg-light-navy px-4 py-16 text-light-slate shadow-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32'
	>
		<div class='flex flex-col justify-between'>
			<div>
				<h2 class='numbered-heading'>{t('contact-me')}</h2>
				<h3
					class='text-center text-4xl font-bold leading-tight text-lightest-slate md:text-left lg:text-5xl'
				>
					{t('lets-talk')}
				</h3>
				<div class='mt-8 text-center text-light-slate md:text-left'>
					{t('contact-description')}
				</div>
			</div>
			<div class='mt-8 text-center'>
				<Image
				src={contactSvg}
				alt='Contact me'
				title='Contact me'
				width={1096}
				height={575}
			/>
			</div>
		</div>
		<form id='contact-form' class='mx-auto' method='POST' action={import.meta.env.FORMSPREE}>
			<div>
				<span class='text-sm font-bold uppercase text-lightest-slate'>
					{t('your-full-name')}
				</span>
				<input
					id='form-name'
					class='focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none'
					name='name'
					required
					type='text'
					placeholder='John Doe'
				/>
			</div>
			<div class='mt-8'>
				<span class='text-sm font-bold uppercase text-lightest-slate'>
					{t('your-email')}
				</span>
				<input
					id='form-email'
					class='focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none'
					placeholder='jhondoe@gmail.com'
					name='email'
					required
					type='email'
				/>
			</div>
			<div class='mt-8'>
				<span class='text-sm font-bold uppercase text-lightest-slate'>
					{t('subject')}
				</span>
				<input
					id='form-subject'
					class='focus:shadow-outline mt-2 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none'
					placeholder='John it is time to start your new project'
					name='subject'
					spellcheck='true'
					required
					type='text'
				/>
			</div>
			<div class='mt-8'>
				<span class='text-sm font-bold uppercase text-lightest-slate'>
					{t('message')}
				</span>
				<textarea
					id='form-message'
					placeholder='I think that success depends on communication and focus on the goal. I would like to work with you on your project.'
					name='message'
					required
					spellcheck='true'
					class='focus:shadow-outline mt-2 h-32 w-full rounded-lg border-2 border-green-500 bg-transparent p-3 text-green-500 focus:outline-none'
				></textarea>
			</div>
			<div class='mt-8'>
				<button class='big-button w-full' type='submit' value='Send Message'>
					{t('send-message')}
				</button>
			</div>
		</form>
	</div>
</section>
