---
import { Image } from 'astro:assets';
import ContactForm from 'molecules:ContactForm';
import contactImage from '../../assets/images/contact.png';
import { getLangFromUrl, useTranslations } from '@i18n:utils';
import { RECAPTCHA_SITE_KEY, CONTACT_FORM_TOKEN, CONTACT_FORM } from 'astro:env/client';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="contact" class="mx-4 md:mx-auto">
	<div
		class="mx-auto grid grid-cols-1 gap-8 rounded-lg bg-light-navy px-4 py-16 text-light-slate shadow-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32"
	>
		<div class="flex flex-col justify-between">
			<div>
				<h2 class="numbered-heading">{t('contactMe')}</h2>
				<h3
					class="text-center text-4xl font-bold leading-tight text-lightest-slate md:text-left lg:text-5xl"
				>
					{t('letsTalk')}
				</h3>
				<div class="mt-8 text-center text-light-slate md:text-left text-balance">
					{t('contactDescription')}
				</div>
			</div>
			<div class="mt-8 text-center">
				<Image src={contactImage} alt="Contact me" title="Contact me" />
			</div>
		</div>
		<ContactForm
			siteKey={RECAPTCHA_SITE_KEY}
			contactForm={CONTACT_FORM}
			contactFormToken={CONTACT_FORM_TOKEN}
		/>
	</div>
</section>
