---
import i18next, { t, setDefaultNamespace } from 'i18next'
import { email } from '@store:constants'
setDefaultNamespace('hero')
---

<section class='min-h-screen'>
	<div class='flex flex-col items-start'>
		<p class='font-mono text-base font-normal text-green-500'>
			{t('welcome')}
		</p>
		<h1 id='generalName' class='yap-name my-2 text-5xl sm:text-4xl md:text-5xl lg:text-7xl'>
			{t('name')}
		</h1>
		<h2
			id='phrase'
			class={`text-3xl text-gray-500 sm:text-3xl my-3 md:my-2 md:text-4xl lg:text-5xl slogan-${i18next.language}`}
		>
			<span hidden>{t('slogan')}</span>
		</h2>
		<p id='my-self' class='text-md my-4 max-w-none text-justify md:max-w-3xl md:text-xl'>
			{t('my-self')}

			<span class={`typed-text-${i18next.language}`}>
				<span hidden>SOLID Principles, Clean Architecture, Design Patterns, Microservices</span>
			</span>
		</p>
		<footer class='container mx-auto flex flex-col items-center md:items-start'>
			<a href={`mailto:${email}`} class='big-button my-10 animate-pulse'>
				👋🏻 {t('get-in-touch')}
			</a>
		</footer>
	</div>
</section>

<style scoped lang='scss'>
	@import '../../styles/typed.scss';
	$slogan-text: 'If I cannot do great things, I can do small things in a great way.';
	$slogan-text-es: 'Si no puedo hacer grandes cosas, hago que las pequeñas sean grandiosas.';
	.slogan-en {
		@include typed(
			$slogan-text,
			1.5,
			(
				caret: false,
				caret-width: 5px,
				caret-space: 2px,
				iterations: 0
			)
		);
	}
	.slogan-es {
		@include typed(
			$slogan-text-es,
			1.5,
			(
				caret: false,
				caret-width: 5px,
				caret-space: 2px,
				iterations: 0
			)
		);
	}

	.typed-text-en {
		padding: 0 0 0 3px;
		&::before {
			font-weight: 800;
		}
		@include typed(
			'SOLID Principles',
			'Clean Architecture',
			'Design Patterns',
			'Microservices',
			1.5,
			(
				caret-width: 2px,
				caret-space: 2px
			)
		);
	}
	.typed-text-es {
		padding: 0 0 0 3px;
		&::before {
			font-weight: 800;
		}
		@include typed(
			'Principios SOLID',
			'Arquitectura Limpia',
			'Patrones de Diseño',
			'Microservicios',
			1.5,
			(
				caret-width: 2px,
				caret-space: 2px
			)
		);
	}
</style>
