---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
	title: string;
}

const { title, class: className, ...attrs } = Astro.props;
---

<div class={cn("mb-5 p-4 md:p-0", className)} {...attrs}>
	<div class="bg-light-navy">
		<h3
			class="m-1 p-1 text-center font-mono text-3xl font-bold uppercase text-lightest-slate md:text-center"
		>
			{title}
		</h3>
	</div>
	<slot />
</div>
